* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    background-color: teal;
    color: peachpuff;
    padding: 20px;
    margin: 0;
}

div {
    background-image: url();
    background-repeat: repeat;
    color: powderblue;
}

p {
    font-size: 20pt;
    border: 12px solid blue;
    padding: 4rem;
    margin: 10px;
}

